[Unit]
Description=Customize SSID
After=syslog.target network.target

[Service]
ExecStart=/bin/customize_ssid.sh /etc/hostapd.conf

[Install]
WantedBy=multi-user.target
