[Unit]
Description=Copy Update From USB Stick
After=syslog.target network.target systemd-modules-load.service

[Service]
ExecStart=/nonlinear/scripts/copy-extract-and-install-update.sh

[Install]
WantedBy=multi-user.target

