[Unit]
Description=Copy and Execute Update From USB-Stick if available
After=syslog.target network.target systemd-modules-load.service internalstorage.mount
Wants=internalstorage.mount

[Service]
Type=oneshot
ExecStart=/nonlinear/scripts/install-update.sh

[Install]
WantedBy=multi-user.target