[Unit]
Description=Nonlinear-Labs Playground
After=syslog.target network.target systemd-modules-load.service

[Service]
ExecStart=/nonlinear/playground/playground

[Install]
WantedBy=multi-user.target
