/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "am33xx.dtsi"
#include "am335x-bone-common.dtsi"

	/ {
		nonlinear {
			hw-rev = "2A";
		};
	};




	&ldo3_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
	};

	&mmc1 {
	vmmc-supply = <&vmmcsd_fixed>;
	};

	&mmc2 {
	vmmc-supply = <&vmmcsd_fixed>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_pins>;
	bus-width = <8>;
	status = "okay";
	ti,vcc-aux-disable-is-sleep;
	};


	&am33xx_pinmux {

	/*NL_nni: SPI1 (ADC) & SPI0 added */
	pinctrl_spi0: pinmux_spi0_pins {
		pinctrl-single,pins = <
			0x150 0x30	/* SPI0_CLK */
			0x154 0x30	/* SPI0_D0 */
			0x158 0x10	/* SPI0_D1 */
			0x15C 0x10	/* SPI0_CS0 */
			0x178 0x37	/* LPC_PRQ uart1_ctsn.gpio0_12, INPUT | MODE7 */
			0x17C 0x37	/* LPC_RDY uart1_rtsn.gpio0_13, INPUT | MODE7 */
		>;
	};

	pinctrl_spi1: pinmux_spi1_pins {
		pinctrl-single,pins = <
			0x190 0x23	/* SPI1_CLK */
			0x194 0x23	/* SPI1_D0 */
			0x198 0x13	/* SPI1_D1 */
			0x19C 0x17	/* ESPI_SDG */
			0x1A4 0x17	/* ESPI_SDS */
			0x8C 0x7	/* OLED_DC gpmc_clk_mux0.gpio2_1, OUTPUT | MODE7 */
			0x28 0x7	/* OLED_CS gpmc_ad10.gpio0_26, OUTPUT | MODE7 */
			0x3c 0x7	/* ADC_CS gpmc_ad15.gpio1_15, OUTPUT | MODE7 */
			0x0A8 0x7	/* POD2 GPIO2 8  */
			0x0AC 0x7	/* POD1 GPIO2 9  */
			0x0B0 0x7	/* POD4 GPIO2 10 */
			0x0B4 0x7	/* POD3 GPIO2 11 */
			0x0B8 0x7	/* POD6 GPIO2 12 */
			0x0BC 0x7	/* POD5 GPIO2 13 */
			0x0C0 0x7	/* POD8 GPIO2 14 */
			0x0C4 0x7	/* POD7 GPIO2 15 */
		>;
	};
	};

	/* NL_nni: SPI1 & SPI0 added */
	&spi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi0>;

	spi0_0{
		#address-cells = <1>;
		#size-cells = <0>;
		compatible ="lpc_bb_driver";
		reg = <0>;
		spi-max-frequency=<24000000>;
		rdy-gpio = <&gpio0 13 0>;
		prq-gpio = <&gpio0 12 0>;
		lpc-hb-gpio = <&gpio1 19 0>;
		};
	};

	&spi1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1>;

	cs0-device {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible ="espi_driver", "spidev";
		reg = <0>;
		spi-max-frequency=<24000000>;
		/* NL_nni: eSPI hub specific GPIOs */
		scs-gpios = <   &gpio2 8 0
				&gpio2 9 0
				&gpio2 10 0
				&gpio2 11 0
				&gpio2 12 0
				&gpio2 13 0
				&gpio2 14 0
				&gpio2 15 0
			>;
		sap-gpio = <&gpio3 19 0>;
		dmxs-gpio = <&gpio3 17 0>;
		};
	};
