[Unit]
Description=Runs the script to connect to NLL server for maintenance purposes
After=network.target NetworkManager.service

[Service]
ExecStart=/usr/bin/connect-to-nllserver.sh

[Install]
WantedBy=multi-user.target
