BR2_arm=y
BR2_cortex_a8=y
BR2_CCACHE=y
BR2_KERNEL_HEADERS_4_4=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_GCC_VERSION_5_X=y
BR2_TARGET_GENERIC_ISSUE="Nonlinux by Nonlinear-Labs"
BR2_ROOTFS_OVERLAY="nonlinear/fs-overlay-usbrescue"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git@nonlinear-labs.git.beanstalkapp.com:/nonlinear-labs/linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="nonlinear-am33xx-4.4.37"
BR2_LINUX_KERNEL_DEFCONFIG="nonlinear"
BR2_LINUX_KERNEL_UIMAGE=y
BR2_LINUX_KERNEL_UIMAGE_LOADADDR="0x80008000"
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_DOSFSTOOLS_MKFS_FAT=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_UTIL_LINUX_BINARIES=y
BR2_PACKAGE_UTIL_LINUX_LSBLK=y
BR2_PACKAGE_UTIL_LINUX_SFDISK=y
BR2_TARGET_ROOTFS_INITRAMFS=y
